
.bubble {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60vh;
    min-height:fit-content;
    padding: 0px;
    background-color: #3f434798;
    justify-content: space-between ;

    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
.two-bubble-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    width: 90%;
    height: 100%;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    margin-bottom: 20px;
}
.one-bubble-container {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    height: 80vh;
    margin-bottom: 20px;

}
.order-statistics-page {
    display: flex;
    flex-direction: column;

    padding: 0px;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title-text {
    font-weight: 600;
    background-color: #001529;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}