.onetothree-bubble-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}
.small {
    width: 25%;
    height: 75vh;
    padding: 5px;
    overflow-y: auto;
}
.big {
    width: 65%;
    height: 80vh;
    overflow-y: auto;
    
}