.review-card {
    width: 90%;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
}

.review-card input {
    height: 100%;
    padding: 1%;
    border-radius: 0.3rem;
    border: 1px solid rgb(185, 185, 185);

    box-sizing: border-box;
}
.input-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.box-skid-container {
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: space-around;
}
.box-skid-container input {
    height: 50%;
    padding: 1%;
    border-radius: 0.3rem;
    border: 1px solid rgb(185, 185, 185);
    box-sizing: border-box;
}
.device-showcase-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-detail-container {
    width: 30%;
}
.order-detail-container {
    display: flex;
    padding: 3%;
    justify-self: center;
    
    width: 90%;
    align-items: center;
}
.device-input {
    margin-bottom: 5px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    height: 10%;
    box-sizing: border-box;

}
.review-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* ensures header corners match */
    background-color: white;
}

.review-header {
    background-color: #102b47; /* or any shade of blue you prefer */
    color: white;

    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0056b3;
}
