.order-history-page{
    .one-bubble-container {
        height: 70%;
        justify-content: center;
        justify-self: center;
        width: 90vw;
        display: flex;

    }
    .bubble {
        height: 90%;
        width: 100%;
        overflow-y: auto;
        padding: 2%;
    }
    

}
