#root {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F0F2F5;
}