
  .logo-content-banner {
    display: flex;
    background-color: #001529;
    margin-bottom: 2rem;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 100vw;
    justify-content: left;
    height: 10vh;
    margin-top:0;
}
.icon-banner {
    width: 60px;
    height: 60px;
}
.icon-container-banner {
  margin-left: 2rem;
}